Repository DeviationTX/deviation, pull requests merged in 2019-04, with the labels that each got.

#836 Protocol for TDR Phoenix Mini
  src/protocol/mjxq_nrf24l01.c
Labels: Protocol

#844 [E016H protocol] Add calibration flag
  src/protocol/e016h_nrf24l01.c
Labels: Protocol

#859 Protocol bugs3mini dynamically driven trims
  src/protocol/bugs3mini_nrf24l01.c
Labels: Enhancement, Protocol

#863 fix Makefile targets for emu
  src/Makefile
Labels: Bug

#849 Updates for S.Port telemetry
  src/pages/128x64x1/guiobj.h
  src/pages/128x64x1/telemtest_page.c
  src/pages/320x240x16/telemtest_page.c
  src/protocol/frsky2way_cc2500.c
  src/protocol/frsky_d_telem._c
  src/protocol/frsky_s_telem._c
  src/protocol/frskyx_cc2500.c
  src/protocol/pxxout.c
  src/telemetry.h
  src/telemetry/telem_frsky.c
Labels: Enhancement

#864 Fix emu_devo6 build
  src/target/drivers/mcu/emu/channels.c
Labels: Bug
